<footer>
  <div class="container">
    <div class="footerContainer">
      <div class="footerData">
        <p>Niharika - 2019.</p>
        <p>Books manager application - for learning purposes.</p>
        <p>Made in Angular6, powered by Google Firebase.</p>
      </div>
      <div class="buttons">
        <!-- <a href="https://www.linkedin.com/in/kamil-ps/" target="_blank"> -->
          <!-- <div class="btn btn2"></div> -->
        <!-- </a> -->
        <a href="mailto:niharika.niha4@gmail.com">
          <div class="btn btn3"></div>
        </a>
        <a href="https://github.com/niharika1712" target="_blank">
          <div class="btn btn4"></div>
        </a>
      </div>
    </div>
  </div>
</footer>
